<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="~/Home/Index">Villa Oy @*(@ViewBag.LoggedStatus)*@</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="btn">
                    <a class="nav-link active" href="~/Home/Index">
                        Etusivu
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="btn">
                    <a class="nav-link" href="~/Home/Tuotteet">Tuotteet</a>
                </li>
                <li class="btn">
                    <a class="nav-link" href="~/Home/About">Meistä</a>
                </li>
                <li class="btn">
                    <a class="nav-link" href="~/Home/Contact">Yhteystiedot</a>
                </li>
                <li class="btn dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ylläpito</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/TuotteetAdmin/Index">Tuotteet</a>
                        <a class="dropdown-item" href="~/Henkilot/Index">Henkilot</a>
                        <a class="dropdown-item" href="~/Postitoimipaikat/Index">Postitoimipaikat</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="~/Asiakkaat/Index">Asiakkaat</a>
                        <a class="dropdown-item" href="~/Tilauksets/Index">Tilaukset</a>
                        <a class="dropdown-item" href="~/Tilauksets/_Tilausirivit">Tilaukset ja tilausrivit</a>
                        <a class="dropdown-item" href="~/Tilauksets/TilausOtsikot">Tilausotsikot</a>
                    </div>
                </li>
                <li class="btn"><a href="@Url.Action("LogOut","Home")" class="nav-link">Kirjaudu ulos</a></li>
                <li class="btn">
                    <a class="nav-link">@Session["UserName"]</a>
                </li>
            </ul>
            @*
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>*@
        </div>
    </div>
</nav>