@{
    ViewBag.Title = "About";
}

@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

<p><br />Villa Oy on perustettu vuonna 2013. Olemme suomalainen pienyritys, joka valmistaa 100% villatuotteita.</p>
