@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message<br /></h3>

<address>
    Villa Oy<br />
    Keskostentie 12 a 2, 00320 Helsinki<br />
    <abbr title="Puhelin">Puh.</abbr>
    040-5433245
</address>

<address>
    <strong>Sähköposti:</strong>   <a href="asiakaspalvelu@villaoy.com">asiakaspalvelu@villaoy.com</a>
</address>