@model VillaOy.Models.Logins

@{
    ViewBag.Title = "Home Page";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

@*JQuery suoritetaan aina, kun sivu latautuu*@
@section scripts {
    <script type="text/javascript">
        $(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
                $('#myModal').modal('show');
            }
        });
    </script>
}

<div class="jumbotron">
    <h1>Villa Oy</h1>
    <p class="lead">Villa oy myy suomalaista, käsintehtyjä villatuotteita.</p>
</div>

@{ 
    Html.RenderPartial("_LoginModal");
}

<!--Kuvakaruselli-->
<div id="carousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Pictures/Woman.jpg" alt="pictureofwoman" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="~/Pictures/Wool.jpg" alt="pictureofwool" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="~/Pictures/Children.jpg" alt="pictureofchildren" width="1100" height="500">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#carousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<br>
<p><a href="https://fi.wikipedia.org/wiki/Villa" class="btn btn-primary btn-lg"><img src="~/Icons/info.svg" alt="VillaWikipedia" width="28" height="28" title="Villa">Lue villasta &raquo;</a></p>


<div class="row">
    <div class="col-md-4">
        <h2>Villatuotteet</h2>
        <p>
            Myymme sukista neuleisiin. Kokoja löytyy xs-l. Erikoiskokoja saatavilla kysyttäessä.
        </p>
        <p><a class="btn btn-default" href="~/Home/Tuotteet">Katso täältä tuotteitamme! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ota yhteyttä</h2>
        <p>Jos sinulle jää kysyttävää, vastaamme mielellämme teidän kysymyksiin.</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Löydät täältä meidän yhteystiedot! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ylläpito</h2>
        <p>Ylläpitäjänä sinulla on enemmän oikeuksia ja pääset käsiksi näihin tietoihin:</p>
        <p><a class="btn btn-default" href="~/TuotteetAdmin/Index">Tuotteet &raquo;</a></p>
        <p><a class="btn btn-default" href="~/Henkilot/Index">Henkilöt &raquo;</a></p>
        <p><a class="btn btn-default" href="~/Asiakkaat/Index">Asiakkaat &raquo;</a></p>
        <p><a class="btn btn-default" href="~/Tilauksets/Index">Tilaukset &raquo;</a></p>
    </div>
</div>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>