@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Villa Oy</h1>
    <p class="lead">Villa oy myy suomalaista, käsintehtyjä villatuotteita.</p>
    <p><a href="https://fi.wikipedia.org/wiki/Villa" class="btn btn-primary btn-lg"><img src="~/Icons/info.svg" alt="VillaWikipedia" width="28" height="28" title="Villa">Lue villasta &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Villatuotteet</h2>
        <p>
            Myymme sukista neuleisiin. Kokoja löytyy xs-l. Erikoiskokoja saatavilla kysyttäessä.
        </p>
        <p><a class="btn btn-default" href="~/Home/Tuotteet">Katso täältä tuotteitamme! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ota yhteyttä</h2>
        <p>Jos sinulle jää kysyttävää, vastaamme mielellämme teidän kysymyksiin.</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Löydät täältä meidän yhteystiedot! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ylläpito</h2>
        <p>Ylläpitäjänä sinulla on enemmän oikeuksia ja pääset käsiksi näihin tietoihin:</p>
        <p><a class="btn btn-default" href="~/TuotteetAdmin/Index">Tuotteet &raquo;</a></p>
        <p><a class="btn btn-default" href="~/Henkilot/Index">Henkilöt &raquo;</a></p>
        <p><a class="btn btn-default" href="~/Asiakkaat/Index">Asiakkaat &raquo;</a></p>
        <p><a class="btn btn-default" href="~/Tilauksets/Index">Tilaukset &raquo;</a></p>
    </div>
</div>